body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}
img{
	object-fit: cover;
}


.search{
	display: flex;
	justify-content: center;
}
input{
	width: 40%;
	margin-top: 10px;
	height: 40px;
	border-radius:7px;
	padding: 7px;
	border:0.5px solid rgba(0, 0, 0, 0.555);
}

.filter_btn{
	display: flex;
	justify-content: space-between;
}


button{
	margin: 10px;
	padding:7px 15px 7px 15px;
	border-radius: 7px;
	border:none;
	background-color: blue;

	color: #FFF;
}

.btn_Next{
	background-color:rgb(5, 236, 5);
}
.btn_Prev{
	background-color:rgba(241, 22, 22, 0.993);
}

